@import "../../../utilities/variables";
@import "../../../utilities/corners";

.genres {
    padding-top: 20px;
}

.tv-page_chanal {
    padding-right: 20px;
    &.active {
        @include activeLi;
    }

    &:focus {
        outline-style: none;
    }
}
