{
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "singleQuote": false,
  "printWidth": 140,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxBracketSameLine": false
}
