@import '../../../../utilities/variables';
@import '../../../../utilities/corners';

.films {
	.carusel_sl {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		transition: scale 300ms ease-in-out;
		& img {
			margin: 0 auto;
		}
	}
}

.carusel_sl.active {
	background-color: inherit !important;
	width: auto;
	margin: 0 auto;
	margin-bottom: 40px;
	& img {
		transform: scale(1.1);
	}
}
