$bacgroundTypeOfList: linear-gradient(
  to left bottom,
  #000428,
  #02163a,
  #05214d,
  #072e60,
  #073b75,
  #073b75,
  #073b75,
  #073b75,
  #072e60,
  #05214d,
  #02163a,
  #000428
);
$bacgroundNavigation: linear-gradient(
  to right bottom,
  #0f0c29,
  #131433,
  #19193e,
  #1f1e49,
  #262454,
  #282656,
  #2a2858,
  #2c2a5a,
  #2a2953,
  #28274c,
  #262645,
  #24243e
);

$focusedBorder: #2a93d6 4px solid;
$activeLi: #2a93d6;
$focusedBackgraund: rgba(
  $color: #fff,
  $alpha: 0.1,
);
$defaultBorderTop: solid 4px transparent;
