@import "../../utilities/variables";

$widthNav: 150px;
$marginLeftSvg: 24%;

.navigation {
    position: relative;
    z-index: 1;
    height: 100vh;
    background-image: $bacgroundNavigation;
    width: $widthNav;
    display: flex;
    justify-content: center;
    padding-top: 10%;

    &.focused {
        width: calc(#{$widthNav} * 2);
        border: 1px solid #000;
        border-top: none;
        border-bottom: none;

        .navigation__top-svg {
            margin-left: calc(#{$marginLeftSvg} - 10%);
        }
    }

    &__top-svg {
        position: absolute;
        left: $marginLeftSvg;
        top: 20px;
        width: 42px;
        height: 42px;
    }

    &__svg {
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    & ul {
        :nth-child(3) {
            position: relative;
        }
        :nth-child(4) {
            margin-top: 10px;
        }
        & > li {
            & span.hidden {
                display: none;
            }
        }
    }

    &__li {
        position: relative;
        margin-bottom: 20px;
        &::after {
            content: "";
            position: absolute;
            left: -5px;
            right: -5px;
            bottom: 0px;
            height: 3px;
            background-color: gainsboro;
            transform: scaleX(0);
            transition: transform 0.25s ease;
        }
        &:hover {
            &::after {
                content: "";
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: 0px;
                height: 3px;
                background-color: gainsboro;
                transform: scaleX(1);
                transition: transform 0.25s ease;
            }
        }
    }

    &__li.focused {
        background-color: red;
    }

    &__lang {
        position: absolute;
        bottom: 0;
    }
}
