.personalInfo {
	padding: 20px;
}
.styleLi {
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	& select,
	input {
		color: #fff;
		width: 70%;
		height: 2rem;
		background-color: inherit;
	}
}
.styleUl {
	display: flex;
	width: 70%;
	flex-direction: column;
	padding: 2rem;
}
