@import "../../../utilities/variables";
@import "../../../utilities/corners";

.tv-page {
    display: flex;
    width: 100%;
    color: floralwhite;
    
    & .list-genres {

        &.focused {
            border-top: $focusedBorder;
            background-color: $focusedBackgraund;
        }
        
        display: flex;
        flex-direction: column;
        width: 25%;
        font-size: 24px;
        
    }
    
    & .genres {
        
        &.focused {
            background-color: $focusedBackgraund;
            border-top: $focusedBorder;
        }
        
        display: flex;
        font-size: 24px;
        width: 27%;
        overflow: auto;
    }
    
    & .schedule {
        padding: 20px;
        width: 45%  ;
        &.focused {
            background-color: $focusedBackgraund;
            border-top: $focusedBorder;
        }
    }


}
