@import "../../../utilities/variables";
@import "../../../utilities/corners";

.tv-page {
	display: flex;
	width: 100%;
	color: floralwhite;

	& .list-genres {
		@include firstList;
	}
	& .genres {
		padding-left: 10px;
		border-top: $defaultBorderTop;

		display: flex;
		font-size: 24px;
		width: 27%;
		overflow: auto;
	}

	& .schedule {
		padding: 20px;
		width: 45%;
		border-top: $defaultBorderTop;
	}

	& .movies-types {
		@include firstList;
	}
	& .films {
		display: flex;
		flex-direction: column;
		width: 25%;
		font-size: 24px;
		overflow: auto;
		border-top: $defaultBorderTop;
	}

	& .setting {
		@include firstList;
	}
	& .setup-detail {
		width: 45%;
		border-top: $defaultBorderTop;
	}
}
.focused {
	background-color: $focusedBackgraund;
	border-top: $focusedBorder !important; // добавил что бы border-top: transparant который назначин по умолч. в кажд секции не перекрывал
}
