@import '../../../utilities/variables';
@import '../../../utilities/corners';

.tv-page {
	display: flex;
	width: 100%;
	color: floralwhite;

	& .list-genres {
		@include firstList;
		border-top: solid 4px transparent;
	}
	& .genres {
		padding-left: 10px;
		border-top: solid 4px transparent;

		display: flex;
		font-size: 24px;
		width: 27%;
		overflow: auto;
	}

	& .schedule {
		padding: 20px;
		width: 45%;
		border-top: solid 4px transparent;
	}

	& .movies-types {
		@include firstList;
		border-top: solid 4px transparent;
	}
	& .films {
		display: flex;
		flex-direction: column;
		width: 25%;
		font-size: 24px;
		overflow: auto;
		border-top: solid 4px transparent;
	}

	& .setting {
		@include firstList;
		border-top: solid 4px transparent;
	}
	& .setup-detail {
		border-top: solid 4px transparent;
	}
}
.focused {
	background-color: $focusedBackgraund;
	border-top: $focusedBorder !important; // добавил что бы border-top: transparant который назначин по умолч. в кажд секции не перекрывал
}
