@import "../../../../styles/variables";
@import "../../../../styles/corners";

.menu_item {
  @include defaultStyleList;
  &.active {
    @include activeLi;
  }
  &:nth-child(4) {
    position: relative;
    margin-top: 52px;
    &::before {
      position: absolute;
      content: "Время Буфирезации" !important;
      left: -10px;
      bottom: 0;
      top: -40px;
      height: 0px;
      color: #cac !important;
    }
  }
  &:nth-child(5) {
    position: relative;
    margin-top: 52px;
    &::before {
      position: absolute;
      content: "Видеонаблюдение" !important;
      left: -10px;
      bottom: 0;
      top: -40px;
      height: 0px;
      color: #cac !important;
    }
  }
}

.title {
  margin-top: 40px;
  margin-left: 20pxm;
}

.setting {
  padding-left: 20px;
  width: 30% !important; //
  & > ul {
    margin-top: 50px;
  }
}
