@import "../../../../styles/variables";
@import "../../../../styles/corners";

.genres {
  padding-top: 20px;
}

.carusel_sl {
  padding-right: 20px;
  &.active {
    @include activeLi;
  }

  &:focus {
    outline-style: none;
  }
}
