@import './utilities/corners';

.main {
    background-image: radial-gradient(circle, #282768, #341946, #2d102a, #1e0a15, #000000);
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Montserrat", sans-serif;
}
