.main {
    background-image: radial-gradient(circle, #282768, #341946, #2d102a, #1e0a15, #000000);
    display: flex;
    width: 100vw;
    height: 100vh;
}

.focused {
    border: 1px solid #000;
}

.active {
    background-color: red;
}